@font-face {
  font-family: 'Selawik';
  src: url('../fonts/Selawik/selawk.ttf') format('truetype');
}
@font-face {
  font-family: 'Selawik_SemiBold';
  src: url('../fonts/Selawik/selawksb.ttf') format('truetype');
}
@font-face {
  font-family: 'Selawik_Bold';
  src: url('../fonts/Selawik/selawkb.ttf') format('truetype');
}
@font-face {
  font-family: 'Selawik_SemiLight';
  src: url('../fonts/Selawik/selawksl.ttf') format('truetype');
}
@font-face {
  font-family: 'Selawik_Light';
  src: url('../fonts/Selawik/selawkl.ttf') format('truetype');
}
