// Import Bootstrap Compass integration
@import 'bootstrap-compass';
// Import custom Bootstrap variables
@import 'bootstrap-variables';
// Import Bootstrap for Sass
@import 'bootstrap';
// Import custom fonts
@import 'fonts';
//CUSTOM STYLES BEGINS HERE
// Colors
$accent-color-lighter-2: #cc23e4;
$accent-color-lighter-1: #9319a5;
$accent-color-normal: #881798;
$accent-color-darker-1: #71137e;
$accent-color-darker-2: #4f0d58;
$gray-color-lighter-3: #d8d3cd;
$gray-color-lighter-2: #989490;
$gray-color-lighter-1: #595654;
$gray-color-normal: #4c4a48;
$gray-color-darker: #333230;
$white-color-normal: #fafafa;
$list-color: #e6e6e6;
// Effects
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

// General Body
body {
    color: $white-color-normal;
    padding-top: 70px;
    background-image: url('../images/backgrounds/boston_at_night.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $accent-color-normal;
}

h1 {
    font-family: 'Selawik_Light';
    font-size: 48px;
}

h2,
h3 {
    font-family: 'Selawik_Light';
}

.mainbody {
    margin-top: 100px;
    text-align: center;
}

.brandlogo_mainbody {
    height: 100px;
}

.secondarybody {
    text-align: center;
}

.registrationbutton {
    border: 4px solid $white-color-normal;
    font-family: 'Selawik_Bold';
    color: $white-color-normal;
    padding: 8px;
    line-height: 60px;
}

.registrationbutton:hover {
    color: $white_color_normal;
    text-decoration:none;
}

.registrationbutton:focus {
    color: $white_color_normal;
    text-decoration:none;
}

.registrationbutton:visited {
    color: $white_color_normal;
    text-decoration:none;
}

.row {
    margin: 0 !important;
}

.onehundredpercent {
    width: 100%;
    height: 100%;
}

.vertical-center {
    min-height: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

// 1. Navbar
.navbar-default {
    border: none;
}

.navbar-header {
    background-color: $accent-color-darker-2;
    font-family: 'Selawik_Light';
}

.navbar-right {
    background-color: $accent-color-darker-2;
}

.navbar-collapse {
    padding: 0;
}

.navbar-brand > img {
    position: relative;
    margin-right: -16px;
}

.brandlogo {
    height: 28px;
    position: absolute;
    top: -20%;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .container-fluid {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0;
    }
}

// 2. Modal
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    color: $gray-color-darker;
    background-color: $white-color-normal;
    border-radius: 0;
}

.modal-header {
    background-image: linear-gradient(45deg, $accent-color-darker-2, $accent-color-darker-1);
    color: $white-color-normal !important;
}

.modal-button {
    font-family: 'Selawik_Bold';
    background-color: transparent;
    color: $gray-color-darker;
    border: 4px solid $gray-color-darker;
    padding: 8px;
}

.modal-button:hover {
    background-color: transparent;
    color: $gray-color-darker;
    border-color: $gray-color-darker;
}

.modal-button:active {
    background-color: transparent;
    color: $gray-color-darker;
}

.modal-button:focus {
    background-color: transparent;
    color: $gray-color-darker;
}

.modal-button:visited {
    background-color: transparent;
    color: $gray-color-darker;
}

.modal-footer {
    text-align: center;
}

.close {
    opacity: .7;
}